body {
    font-family: Arial;
    text-align: center;
    background-color: #f5f5f5;
}

textarea {
    width: 40%;
    height: 200px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
