<!DOCTYPE html>
<html>
<head>
    <title>Plagiarism Checker</title>
</head>
<body>

    <h1>Online Code Plagiarism Detection</h1>

    <form method="POST">
        <textarea name="code1" placeholder="Enter First Code"></textarea>
        <br><br>
        <textarea name="code2" placeholder="Enter Second Code"></textarea>
        <br><br>
        <button type="submit">Check Similarity</button>
    </form>

    {% if similarity is not none %}
        <h2>Similarity: {{ similarity | round(2) }}%</h2>
    {% endif %}

</body>
</html>
